.contactList {
  margin: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #a5212121;
}
.listItem {
  display: flex;
}
.listItem button {
  width: auto;
  height: fit-content;
  margin: auto 15px;
  border-radius: 5px;
}
